<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingMall</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <p><%= notice %></p>

      <p><%= yield %></p>
      <p><%= alert %></p>
    
    <nav>
       <% unless user_signed_in? %>
        <%= link_to "註冊", new_user_registration_path %>
        <%= link_to "登入", new_user_session_path %>  
       <% end %> 

      <% if user_signed_in? %>
        <%= link_to "登出", destroy_user_session_path, method: :delete %>
      <% end %>
    </nav>
    
    </div>
  </body>
</html>
